@import 'mixins/video';
@import 'mixins/media-queries';

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin halign-center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}